@import "bourbon";
@import "neat";
@import "foundation";

@include foundation-everything;
@include foundation-flex-grid;


$monothrow: url('../photos/IMG_5395.png');
$blueOpacity: url('../photos/blueopacity-1.png');
$greenOpacity: url('../photos/greenopacity-1.png');
$cellBackground: #D2FBFE;
$dashboardColor: #202020;
$headingBackground: $greenOpacity;
$mainBackgroundColor: #FAFAF5;
$themeColor: #44A19E;
$fontColor: white;
$highlight: #2E706B;
$lightAccent: #86D3CE;
$topbar-background: url('../photos/gradient.png');


$textShadow: 0 1px 5px rgba(0,0,0,.7);
$textShadow2: 0 1px 5px rgba(0,0,0,.6);

$cellBorder: 2px solid $dashboardColor;
$cellBorderRadius: 3px 3px 0 0;

$bigLogo: url('../photos/logobig.png');
$smallLogo: url('../photos/logosmall.png');
$mainImage: url('../photos/GYEIFHUP3O.jpg');


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background: $dashboardColor;
  // background-image: url('../photos/gradient.png'); 
  text-shadow: $textShadow;
}

// li {
//   list-style: none;
// }
p {
  padding: 17px 10px 17px 0;
}
a {
  color: $lightAccent;
  :hover {
    color: $highlight;
  }
}

  #page p {
    color: $fontColor;
    border: 2px solid $highlight;
    box-shadow: $textShadow;
    font-size: 1.4em;
    font-weight: 300;
    margin: 50px auto 30px auto;
    padding: 20px 15px;
    width: 80%;
  }

.top-bar {
  @include top-bar-container;
  background: $topbar-background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0.5em;
  position: relative;
  width: 100%;

  .title-area{
    // clear: left;
    display: block;
    float: left;
    font-family: 'Cookie', cursive;
    font-size: 50px;
  }
  #logo {
    color: $fontColor;
  }
  #right{
    float: right;
    margin-top: 1.4em;
    a {
      color: $fontColor;
      font-size: 1.5em;
      margin: 0.7em 1em;
    }
    #create {
      // border: 1px solid $fontColor;
      // border-radius: 10px;
      // box-shadow: $textShadow2;
      padding: 6px;
    }
  }
  #search {
    display: inline-block;
    float: left;
    height: 0;
    margin: 0 0 0 3em;
    overflow: visible;
    width: 25%;
    form #search-bar {
      display: inline-block;
      z-index: 2;
    }
    input{
      bottom: 0;
      border: none;
      color: transparent;
      background: transparent;
      ;
      font-size: 1.6em;
      width: 100%;
      height: 3.5em;
      margin-bottom: 0;
      padding: 33px;
      }
      input:focus {
        color: $fontColor;
      }
  }
}
.container {
  display: block;
  margin: 20px auto;
  height: 700px;
  width: 100%;
}
//For search
div .page-title {
  color: white;
  p {
    border: 2px solid blue;
    padding: 17px 10px 17px 0;
    width: 90%;
  }
}
#dash, #category-recipes, #results {
  @include outer-container;
  padding-top: 30px;
  width: 90%;
  li {
    @include span-columns(3);
    @include omega(4n);
    border-radius: $cellBorderRadius;
    height: 220px;
    overflow: hidden;

    .picture {
      border-radius: $cellBorderRadius;
      display: block;
      position: relative;
      padding-bottom: 75%;
      height: 0;
      background-size: cover;
      box-sizing: border-box;
      z-index: 1;
    }
  }
  .title {
    position: relative;
    text-align: center;
    z-index: 4;
    color: $fontColor;
     span {
      float: left;
      text-align: left;
      display: inline-block;
      margin: 4.5em .7em;
      font: 400 1.2em 'Raleway';
      letter-spacing: -.03em;
      text-shadow: $textShadow;
    }
  }
  #backshade {
    background-image: linear-gradient(to bottom,rgba(.6,0,0,0)10%,rgba(0,0,0,.8)100%);
    box-sizing: border-box;
    background-size: cover;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    padding-bottom: 70%;
    z-index: 2;
    width: 16em;
    overflow: hidden;
    vertical-align: baseline;
  }
}

#singleRecipe {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 4.6em;
  li {
    border-radius: $cellBorderRadius;
    height: 450px;
    margin-top: -25px;
    overflow: hidden;
    width: 100%;

    .mainPhoto {
      display: block;
      position: relative;
      padding-bottom: 75%;
      height: 0;
      background-size: cover;
      background-position: 70% 50%;
      box-sizing: border-box;
      margin-top: 0;
      top: 0;
      z-index: 1;
    }
  }
  .name {
    position: relative;
    text-align: center;
    z-index: 4;
    span {
      color: $fontColor;
      float: left;
      text-align: center;
      display: inline-block;
      margin: 3em .7em;
      font: 400 3.2em 'Raleway';
      letter-spacing: -.03em;
      text-shadow: $textShadow;
    }
  }
  #shade {
     background-image: linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,.8)100%);
    box-sizing: border-box;
    background-size: cover;
    display: block;
    height: 100%;
    margin-top: 10px;
    opacity: 1;
    position: absolute;
    padding-bottom: 5%;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    vertical-align: baseline;
  }
}

.landing {
  width: 100%;

}
.home {
  @include absolute-center;
  // background-image: url('../photos/IMG_5395.jpg'); 
  background: transparent;
  color: white;
  text-align: center;
  // border: $cellBorder;
  // border-radius: $cellBorderRadius;
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  .main-logo {
    background: $greenOpacity;
    border-radius: $cellBorderRadius;
    padding: 20px 40px;
    margin-bottom: 5px;
  }
  form {
    background: $topbar-background;
    background-position: 20% 10%;
    border: 1px solid $topbar-background;
    border-radius: 0 0 3px 3px;
    padding: 30px 60px;
    input{
      bottom: 0;
      border: none;
      border-radius: 5px;
      color: $greenOpacity;
      background: $lightAccent;
      font-size: 1.4  em;
      width: 100%;
      height: 3em;
      margin-bottom: 15px;
      padding: 20px;
    }
    input:focus {
      color: $dashboardColor;
    }
  }

  a {
    padding: 10px;
    border: 1px solid #2B6546;
    border-radius: 5px;
    .reg {
    background: transparent;  
    color: $greenOpacity;
    }
  }
      .login {
      background: #2B6546;
    }
  // h1 {
  //   color: white;
  //   font-family: 'Cookie', cursive;
  //   text-align: center;
  //   font-size: 6em;
  //   font-weight: bold;
  // }
}



.register {
  width: 800px;
  margin: 25px auto;
}

div #recipe {
  @include outer-container;
  background: $blueOpacity;
  color: $fontColor;
  display: block;
  margin: 450px auto 40px auto;
  // z-index: 20 !important;
  .heading {
    border-bottom: 1px solid $fontColor;
    color: $fontColor;
    padding: 15px 0;
    width: 100%;
  }
  h4 {
    font-weight: 200;
  }
  .ingredients {
    @include span-columns(4);
    // background: $blueOpacity; 
    width: auto;
    margin: 10px;
    padding: 30px;
    p {
      border-bottom: 1px solid $lightAccent;
      margin: 0;
    }
  }
  .directions {
    @include span-columns(8);
    @include omega();
    // background: $blueOpacity;
    margin: 10px;     
    padding: 30px;
    p {
      border-bottom: 1px solid $lightAccent;
      margin: 0;
    }
  }

}

.add {
  width: 800px;
  margin: auto;
  color: $fontColor;
  .dashboard {
    text-align: center;
    width: 800px;
    margin-bottom: 50px;
  }
  .categoryFieldset {
    width: 800px;
    margin: auto;
    background: transparent;
    text-shadow: $textShadow;
    legend {
      background: transparent;
      margin-bottom: 0;
    }
    label {
      color: $highlight;
    }
  }
  .addRecipeForm {
    width: 800px;
    background: transparent;
    text-shadow: $textShadow;
    width: 800px;
    margin: auto;
    label {
      color: $fontColor;
      font-size: 1em;
      font-weight: 200;
      margin-bottom: 5px;
      text-shadow: $textShadow;
    }
    .help-text {
      color: $themeColor;
      font-size: 0.95em;
      margin-top: 10px;
      padding: 0 10px;
    }
    input {
      border: none;
      border-radius: 3px;
      color: $lightAccent;
      background: transparent;
      // font-size: 1.6em;
      // width: 100%;
      margin-bottom: 5px;
      padding: 10px;
      box-shadow: $textShadow;
    }
    input:focus {
      color: $dashboardColor;
    }
    select {
      font-family: 'Raleway', sans-serif;
      color: $lightAccent;
      background: transparent;
      border: none;
      box-shadow: $textShadow;
    }
    select:focus {
      color: $dashboardColor;
    }
  }

  button {
    margin: auto;
    margin-bottom: 55px;
    padding: 5px 0;
  }
   a {
      color: $highlight;
      font-weight: 400;
      box-shadow: $textShadow;
      border-radius: 3px;
      padding: 9px;
    }
}
  .categories {
    margin: 20px auto 60px 10px;
    width: 100%;
    text-align: center;
    li {
      box-sizing: border-box;
      padding: 0 20px;
      display: inline-block;
      // text-align: center;
      #category {
        font-size: 1.4em;
        font-weight: 400 !important;
        margin: 0 30px;
        text-shadow: $textShadow;
      } 
    }
  }

  footer {
    border-top: 2px solid $highlight;
    bottom: 0;
    padding: 30px 0 20px 10px;
    // position: absolute;
    box-shadow: $textShadow2;
    span {
      color: $highlight;
      font-size: 1.2em;
      font-weight: 500;
      margin-left: 2em;
    }
  }