@import "foundation";
     
@include foundation-everything;
@include foundation-flex-grid;

body {
  background-image: url('../photos/pink.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
nav {
  border-bottom: 2px solid blue;
  opacity: 0.9;
} 
.top-bar {
  background: transparent;
  height: 4em;
  section {
    display: inline-block;
  }

  .title-area {
    float: left;
  }
  
  .right{
    float: right;
  }
}

.home {
  border: 1px solid black;
  border-radius: 4px;
  width: 50%;
  margin: 20% auto 20%;
  padding: 30px;
}

.register {
  width: 800px;
  margin: 25px auto;
}

.row {
  margin: auto;
  padding: 10px;
  .recipe {
    margin: 10px;
    border: 2px solid white;
    border-radius: 4px;
    .title {
      text-align: center;
    }
    .thumbnail{
      margin-top: 10px;
      align: center;

    }
  }
}

.addRecipeForm {
  width: 800px;
  margin: auto;
}