@import "bourbon";
@import "neat";
@import "foundation";

@include foundation-everything;
@include foundation-flex-grid;



$blueOpacity: url('../photos/blueopacity-1.png');
$greenOpacity: url('../photos/greenopacity-1.png');
$cellBackground: #D2FBFE;
$dashboardColor: #202020;
$headingBackground: $greenOpacity;
$mainBackgroundColor: #FAFAF5;
$themeColor: #44A19E;
$fontColor: white;
$highlight: #2E706B;
$lightAccent: #86D3CE;
$topbar-background: #4DB3AB;

$textShadow: 0 1px 5px rgba(0,0,0,.7);
$textShadow2: 0 1px 5px rgba(0,0,0,.6);

$cellBorder: 2px solid $dashboardColor;
$cellBorderRadius: 3px 3px 0 0;

$mainImage: url('../photos/GYEIFHUP3O.jpg');


body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  background: $dashboardColor;
  text-shadow: $textShadow;
}

// li {
//   list-style: none;
// }
p {
  padding: 17px 10px 17px 0;
}
a {
  color: $lightAccent;

}

  #page p {
    color: $fontColor;
    border: 3px solid $highlight;
    box-shadow: $textShadow;
    font-size: 1.4em;
    font-weight: 300;
    margin: 50px auto 30px auto;
    padding: 20px 15px;
    width: 80%;
  }

.top-bar {
  @include top-bar-container;
  background: $topbar-background;
  padding: 0 0.5em;
  position: relative;

  .title-area{
    // clear: left;
    display: block;
    float: left;
    font-family: 'Cookie', cursive;
    font-size: 50px;
  }
  #logo {
    color: $fontColor;
  }
  #right{
    // clear: right;
    float: right;
    margin-top: 1.4em;
    a {
      color: $fontColor;
      font-size: 1.4em;
      margin: 0.7em 1em;
    }
    #create {
      border: 1px solid $fontColor;
      border-radius: 10px;
      box-shadow: $textShadow2;
      padding: 6px;
    }
  }
  #search {
    background: blue;
    display: inline-block;
    float: left;
    height: 0;
    margin: 0 0 0 3em;
    overflow: visible;
    width: 25%;
    form #search-bar {
      display: inline-block;
      z-index: 2;
    }
    input{
      bottom: 0;
      border: 1px solid $topbar-background;
      color: $highlight;
      background: $lightAccent;
      font-size: 1.6em;
      width: 100%;
      height: 2.94em;

      }
      input:focus {
        color: $fontColor;
      }
  }
}
.container {
  display: block;
  margin: 20px auto;
  height: 700px;
  width: 100%;
}
//For search
div .page-title {
  color: white;
  p {
    border: 2px solid blue;
    padding: 17px 10px 17px 0;
    width: 90%;
  }
}
#dash, #category-recipes, #results {
  @include outer-container;
  padding-top: 30px;
  width: 90%;
  li {
    @include span-columns(3);
    @include omega(4n);
    border-radius: $cellBorderRadius;
    height: 220px;
    overflow: hidden;

    .picture {
      border-radius: $cellBorderRadius;
      display: block;
      position: relative;
      padding-bottom: 75%;
      height: 0;
      background-size: cover;
      box-sizing: border-box;
      z-index: 1;
    }
    .title {
      position: relative;
      text-align: center;
      z-index: 4;
      color: $fontColor;
       span {
        float: left;
        text-align: left;
        display: inline-block;
        margin: 4.5em .7em;
        font: 400 1.2em 'Raleway';
        letter-spacing: -.03em;
        text-shadow: $textShadow;
      }
    }
    .backshade {
      background-image: linear-gradient(to bottom,rgba(.6,0,0,0)10%,rgba(0,0,0,.8)100%);
      box-sizing: border-box;
      background-size: cover;
      display: block;
      height: 100%;
      opacity: 1;
      position: absolute;
      padding-bottom: 70%;
      z-index: 2;
      width: 16em;
      transition: background-color .25s;
      overflow: hidden;
      vertical-align: baseline;

    }

  }

}
.home {
  @include absolute-center;
  //background-image: url('../photos/GYEIFHUP3O.jpg'); 
  background: transparent;
  color: white;
  text-align: center;
  border: $cellBorder;
  border-radius: $cellBorderRadius;
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  h1 {
    color: white;
    font-family: 'Cookie', cursive;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
  }
}


.register {
  width: 800px;
  margin: 25px auto;
}


.dashboard {
  // .row {
  //   margin: 40px auto;
  //   padding: 10px;
  //   .recipe {
  //     margin: 10px;
  //     border: $cellBorder;
  //     border-radius: $cellBorderRadius;
  //     height: 10em;
  //   }
  // }
  // .title {
  //   text-align: center;
  //   a {
  //     color: $lightAccent;
  //   }
  // }
}

//  #card .row #recipe-title .ng-binding{
//     color: green; 
// }

div #mainPhoto {
  padding: 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;
  img.ng-scope{
  }
}



div .singleRecipe .ng-scope{
  color: $fontColor;
  border-bottom: 1px solid $lightAccent;
  margin-bottom: 0px;
  margin-left: 15px;
  overflow: hidden;
  width: 100%;
  .heading {
    border-bottom: 1px solid $fontColor;
    color: $fontColor;
    margin-left: 15px;
    width: 100%;
    }
    h4 {
      margin-bottom: 0px;
      padding: 15px 0;
    }
  p {
    padding: 17px 10px 17px 0;
  }
}  
  


div #recipe.row{
  @include foundation-flex-grid;
  
  div.ingredients.shrink.columns.ng-scope {
    background: $blueOpacity; 
    width: auto;
    mrgin: 10px;
    padding: 0px;
  }
  .directions {
    background: $blueOpacity;     
    padding: 0px;
  }
}
.addRecipeForm {
  width: 800px;
  margin: auto;
}

  .categories {
    margin: 20px auto 60px 10px;
    width: 100%;
    li {
      box-sizing: border-box;
      padding: 0 27px;
      display: inline-block;
      // text-align: center;
      #category {
        font-size: 1.4em;
        font-weight: 400 !important;
        margin: 0 30px;
        text-shadow: $textShadow;
      } 
    }
  }

  footer {
    margin-bottom: 0;
    border-top: 3px solid $highlight;
    padding: 30px 0 20px 10px;
    box-shadow: $textShadow2;
    span {
      color: $highlight;
      font-size: 1.2em;
      font-weight: 500;
      margin-left: 2em;
    }
  }