<nav class="top-bar" data-topbar role="navigation">
  <section class="title-area">
      <a id="logo" href="#/">FlourPower</a>
  </section>

  <section id="right">
    <a id="create" href="#/add">Create Recipe</a> 
    <a href="#/dashboard">Dashboard</a> 
    <a href="#/">Logout</a>
  </section>

  <div id="search">
    <form id="search-bar" ng-submit="search(query)">
      <input id="input" type="text" ng-model="query" placeholder="Search For Recipe"/>
    </form>
  </div>
  

</nav>

<div ui-view>
  <!-- <div class="dashboard" id="page">
    <p>{{ vm.message }}</p>
  </div> -->

  <section class="container" ></section>

</div>

<footer>
  <span>&copy; 2015 FlourPower</span>
</footer>
