<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="Logo">
      <h1><a href="#/">Flower Icon</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#/dashboard">UserName</a></li>
      <li><a href="#/categories">Categories</a></li>
      <li><a ng-click="logmeout()">Logout</a></li>
    </ul>
  </section>
</nav>


<div>
  <section class="heading">Heading</section>
  <section class="details">Details</section>
  <section class="content" ui-view>Content</section>
</div>


<!-- Side Panel: UserName's Collections -->
<section class="categories">
  <ul class="category-icons">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

</section>
<footer>FlourPower 2015</footer>
