<nav class="top-bar" data-topbar role="navigation">
  <section class="title-area">
      <a id="logo" href="#/">Flour Power</a>
  </section>

  <div class="input-group search-bar">
    <form ng-submit="search(query)">
      <input type="text" ng-model="query" placeholder="Search For Recipe Here"/>
    </form>
  </div>
  
  <section class="right">
      <a href="#/dashboard">Dashboard</a> |
      <a href="#/add">Add Recipe</a> |
      <a href="#/">Logout</a>
  </section>
</nav>

<section class="container" ui-view></section>

<footer>
  <ul>
    <li ng-repeat="category in vm.categories"> 
    <a href="#/category/{{ category.id }}">*{{ category.name }}</a>
    </li>
  </ul>
</footer>

