<div class="dashboard">
  
  <h1>{{ vm.message }}</h1>

  <ul>
    <li ng-repeat="recipe in vm.recipes">
      {{ recipe.name }}
      <h3>Categories</h3>
      <ul>
        <li ng-repeat="category in recipe.categories">
          {{ category }}
        </li>
      </ul>
      <h3>Ingredients</h3>
      <ul>
        <li ng-repeat="ingredient in recipe.ingredients">
          {{ ingredient.name }}
        </li>
      </ul>

    </li>
  </ul>


  <ul class="collection-index" ng-repeat="category in collection track by vm.category.id">
    <li>{{ category.category }}</li>
    <li>{{ collection.category.singleRecipe }}</li>

<!--     <li>{{stuff.recipes}}</li> -->
    
  </ul>

<!--   <button ng-click="newRecipe">New Recipe</button> -->
  
</div>


<div ng-repeat="model in collection track by model.id">
  {{model.name}}
</div>